#logo{
    color:white;
    background-color: black;
    margin: 0% 0%;
    padding: 5px;
    /* height: 50px; */
}
body{
    margin: 0% 0%;
    position: relative;
    /* background-image: url(/media/sch-1.jpg); */
}
ul{
    list-style-type: none;
    /* overflow: hidden; */
    margin: 0%;
    padding: 0%;
    /* float:right; */
}
li{
    /* display: inline; */
    text-align: center;
    float: right;
    list-style: none;
    margin: 0;
    height: 30px;
}
nav{
    height: 40px;
}
.icon1 {
    width: 25px;
    float: left;
    padding: 8px;
    margin-right: 50px;
}
.navlist{
    padding: 10px;
    margin: 0;
    /* border: solid 2px; */
}
h3.navlist:hover{
    color:white;
    background-color: black;
}
/*  main{
    color: white;
    background-color: black;
} 
article{
    
} */ 
.notification{
    margin: 0;
}
#line1{
    padding: 1px;
    border: solid 3px;
    border-color: black;
}
a{
    text-decoration: none;
    color: black;
}