.login_form{
    margin: 50px 550px;
    border: solid 2px;
    border-color: black;
    box-shadow: 10px 10px 10px 10px gray;
}
.login_text{
    text-align: center;
}
label.login_info{
    padding: 10px 20px;
    margin: 10px 10px;
    display: block;
    text-align: left;
    /* width: 200px; */
}
label span{
    text-align: left;
    width: 90px;
    display: inline-block;
}
button{
    padding:  5px;
    cursor: pointer;
    display: block;
    margin: auto;
    text-align: center;
}
.s_button{
    /* text-align: center; */
    /* display: inline-block; */
    padding: 15px;
    justify-content: center;
}