/* .cl1{
    border:0px;
} */
/* .header{
    margin:0px;
    color:antiquewhite;
    font-family: sans-serif;
    background-color: blue;
    text-align: left;
} */
#fisrt_h3{
    font-family: sans-serif;
    color: white;
    background-color: black;
}
nav {
    float:left;
    padding: 20px;
    width: 15%;
}
main{
    float:left;
    width:80%;
    text-align: left;
    font-family: sans-serif;
    background-color: silver;
}