.st-table{
    height: 150px;
    overflow: auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width:500px;
}

tr:nth-child(even){
    background-color: rgb(222, 247, 255);
}
tr:hover{
    background-color:  rgb(222, 247, 255);;
}
tr{
    height: 40px;
    padding: 5px;
}
th{
    background-color: rgb(36, 36, 255);
    color: white;
}
thead tr th{
    position: sticky;
    height: 30px;
}

.fill-button{
    background-color: rgb(50, 255, 47);
    color: white;
    padding: 5px;
    width:80px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    
}

.student-details{
    background-color: rgb(214, 239, 249);
    padding: 3px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px ;
    width:200px;
}
.student-details-type{
    float: left;
    width:30%;
    padding:3px;
}
thead, tbody, tr{
    display:table;
    width:100%;
    table-layout:fixed;
}
tbody {
    display:block;
    max-height:280px;
    overflow-y:scroll;
}