tr:nth-child(even){
    background-color: rgb(222, 247, 255);
}
tr:hover{
    background-color:  rgb(222, 247, 255);;
}

th{
    background-color: rgb(36, 36, 255);
    color: white;
}

table{
    border: 1px black solid;
    border-collapse: collapse;
    width:500px;
    height:300px;
    text-align: center;
}

.fill-button{
    background-color: rgb(50, 255, 47);
    color: white;
    padding: 5px;
    width:80px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.student-details{
    border: 1px solid;
}